* {
    margin: 0;
    padding: 0;
}
#item > * {
    max-width: 100%;
    max-height: 100vh;
    margin: auto;
}
html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
body {
    background-color: #000;
    color: #fff;
}
body.like {
    background-color: #0d470d;
}
body.dislike {
    background-color: #470d19;
}
#item, #done {
    display: none;
}
